<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="dns-prefetch" href="http://m.sh.189.cn/">
    <link rel="dns-prefetch" href="http://cdn.amazeui.org/">
    <link rel="dns-prefetch" href="http://cdn.bootcss.com/">
    <link rel="dns-prefetch" href="http://dn-growing.qbox.me/">
    <link rel="dns-prefetch" href="http://hm.baidu.com/">
    <link rel="dns-prefetch" href="http://recv-wd.gridsumdissector.com/">
    <link rel="dns-prefetch" href="http://res.wx.qq.com/">
    <link rel="dns-prefetch" href="http://shcdn.iceinto.com/">
    <link rel="dns-prefetch" href="http://static.gridsumdissector.com/">
    <link rel="dns-prefetch" href="http://tajs.qq.com/">
    <link rel="dns-prefetch" href="http://webstat.keysense.com.cn/">
    <link rel="dns-prefetch" href="http://www.webdissector.com/">
    <link rel="icon" href="http://shcdn.iceinto.com/img/ico/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://shcdn.iceinto.com/img/ico/shortcut_favicon.ico" type="image/x-icon">

    <title><%= title %></title>

    <% if(!online){ %>
    <link href="/<%= app %>/public/assets/css/amazeui.min.css" rel="stylesheet">
    <% } else { %>
    <link href="http://cdn.bootcss.com/amazeui/2.7.1/css/amazeui.min.css" rel="stylesheet">
    <% } %>
</head>