<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no"/>

    <title><%= title %></title>

    <% if(!online){ %>
    <link href="/<%= app %>/public/assets/css/amazeui.min.css" rel="stylesheet">
    <% } else { %>
    <link href="http://cdn.bootcss.com/amazeui/2.7.1/css/amazeui.min.css" rel="stylesheet">
    <% } %>
</head>