<% include header.html %>
<style>
    body {
        text-align: center;
    }

    .home-h1 {
        margin-top: 20%;
    }
</style>
<body>

<h1 class="home-h1">redis login</h1>
<input type="text" placeholder="输入登录名称"><br/>
<input type="text" placeholder="ip"><br/>
<input type="text" placeholder="密码"><br/>
<input type="text" placeholder="端口号"><br/>

<button>点击测试连接</button><br/>
<button>OK</button>
<button>Cancel</button>
</body>

<% include footer.html %>
<script type="text/javascript" src="/<%= app %>/public/home/js/myHome<%= online?'':'.min' %>.js<%= version %>"></script>