<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传表单</title>
</head>
<body>
<h3>文件上传：</h3>
选择一个文件上传: <br/>
<form action="/express/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" size="50"/>
    <br/>
    <input type="submit" value="上传文件"/>
</form>

<form action="/express/upload2" method="post" enctype="multipart/form-data" name="upload_form">
    <label>选择图片文件</label>
   <input name="file" type="file" multiple accept="image/png,image/jpeg,video/mp4,audio/mp3"/>
    <input name="upload" type="submit" value="上传" />
  </form>
</body>
</html>